<div class="question-summary">
	<div class="votes-count">
		<div class="count">
			<%= question.votes_count %>
		</div>
		<div>Votes</div>
	</div>

	<div class="votes-count">
		<div class="count">
			<%= question.up_votes_count %>
		</div>
		<div>Up</div>
	</div>

	<div class="votes-count">
		<div class="count">
			<%= question.down_votes_count %>
		</div>
		<div>Down</div>
	</div>
	
	<div class="votes-point <%= question.votes_point >= 0 ? :positive : :negative %>">
		<div class="count">
			<%= question.votes_point %>
		</div>
		<div>Point</div>
	</div>
	
	<div class="answers-count">
		<div class="count">
			<%= question.answers_count %>
		</div>
		<div>Answers</div>
	</div>
	
	<div class="summary">
			<h3><%= link_to question.title, question_path(question) %></a></h3>
			<div class="created">raised by <%= question.user_email %></div>
	</div>
</div>