<div>
  Order by
  <%= link_to "Point", order_for_scoped_search(:votes_point) %> |
  <%= link_to "Votes", order_for_scoped_search(:votes_count) %> |
  <%= link_to "Up votes", order_for_scoped_search(:up_votes_count) %> |
  <%= link_to "Down votes", order_for_scoped_search(:down_votes_count) %>
</div>

<div id="question-list">
	<%= render :partial => :question, :collection => @questions %>
</div>
