<!DOCTYPE html>
<html>
  <head>
    <title>Q&A using votable_mongoid gem</title>
    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag "fancybox" %>

    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
      <h1 id="logo"><%= link_to "Q&A System", root_path %></h1>

      <!-- navigation bar -->
      <ul id="nav">
        <% if current_user %>
          <li>Hello <%= current_user.email %> (<%= link_to "Log out", destroy_user_session_path %>)</li>
        <% else %>
          Please
          <li><%= link_to "Log in", new_user_session_path %></li>
          or <li><%= link_to "Sign up", new_user_registration_path %></li>
          to raise a question.
        <% end %>
      </ul>

      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>

      <!-- content -->
      <%= form_tag search_questions_path do %>
        <%= text_field_tag :keywords, "" %>
        <% if current_user %>
          <%= link_to "Ask", new_question_path, :id => "ask" %>
        <% else %>
          <br />
          <span>Please <%= link_to "login", new_user_session_path %> to ask question.</span>
        <% end %>
      <% end %>
      <div id="content">
        <%= yield %>
      </div>

      <!-- footer -->
      <p id="footer">
        Copyright © 2011 <%= link_to "Vinova Pte Ltd", "http://vinova.sg"%>.
      </p>
    </div>
  </body>
</html>
